[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[access "refs/*"]
	owner = group user/Eric.park (pjsin)
	owner = group user/SeongO Park (raypark714)
	owner = group user/allan park (mcjino21)
	owner = group user/mingyoungbo
	owner = group user/nexell-maintainer
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mingyoungbo
	label-Verified = -1..+1 group user/mingyoungbo
	push = group user/mingyoungbo
	read = group user/mingyoungbo
	rebase = group user/mingyoungbo
	removeReviewer = group user/mingyoungbo
	submit = group user/mingyoungbo
[access "refs/heads/*"]
	create = group user/mingyoungbo
	push = +force group user/mingyoungbo
	pushMerge = group user/mingyoungbo
	read = group user/mingyoungbo
[access "refs/tags/*"]
	push = group user/mingyoungbo
	push = +force group user/mingyoungbo
[receive]
	requireSignedOffBy = true
	requireChangeId = true
